html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: lavender;
    font-family: 'Catamaran', sans-serif;
}

h3 {
    grid-area: titulo;
    text-align: center;
    font-size: 50px;
    margin: 0;
    margin-top: 1.6vh;
    color: lightslategray;
}

h2 {
    grid-area: titulo;
    text-align: center;
    font-size: 50px;
    margin: 0;
    color: lightcoral;
}

label {
    grid-area: titulo;
    align-items: center;
    font-size: 35px;
    margin: 10;
    color: mediumslateblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: ". titulo . " ". meio . " ". . . ";
    height: 100vh;
    width: 100vw;
}
 
.container2 {
    grid-area: meio;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.1vh;
    flex-wrap: nowrap;
}
.box {
    background-color: mediumslateblue;
    height: 20%;
    width: 70%;
    border: 1px black;
    text-align: center;
    padding: 2vh;
    font-size: 20px;
    text-align: center;
}
a {
    display: inline-block;
    color: white;
    padding: 0;
    text-decoration: none;
}
 
a:hover {
    color: blue;
}
