body {
    margin: 100px;
}

.coluna {
    float: left;
    width: 33.33%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
 
.coluna img {
    width: 380px;
    height: 380px;
}
 
.row::after {
    content: "";
    clear: both;
    display: table;
    background: lavender;
}

 
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightslategray;
}